@import "colores"

main
	select
		margin 10% auto
		display block
		padding .5%
		background azulSecundario
		color blanco
		border none
		width 20%
		border-radius 5px
		&:focus
			background azulClaro
			color azulPrimario
