@import "colores"

main
	select
		margin 10% auto
		display block
		padding .5%
		background azulSecundario
		color blanco
		border none
		width 20%
		border-radius 5px
		&:focus
			background azulClaro
			color azulPrimario
	section.producto
		text-align center
		article
			width 30%
			margin 2% 1%
			display inline-block
			img
				width 90%
				display block
				margin 1% auto
			input[type=number]
				width 20%
				padding 1%
				border 1px solid azulClaro
				margin 4% auto
				display block
			button
				padding 1.5%
				border none
				background #ff260f
				color #fff
				width 25%
				border-radius 5px 