<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Tienda Online
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilo.css")
	script(src="js/jquery.js")
	script(src="js/libros.js")
body
	header
		img(src="img/logo.svg", alt="logo")
		div.titulos
			h1 Ebooks
			h2 Tienda de libros Digitales
		div.clickMenu
			p M
		div.menu
			nav
				ul
					li Javascript
					li Python
					li Nodejs
					li Css
					li Carrito
	main
		section.principal
			select
				option(value="0") Escoga Opcion
				option(value="1") Javascript
				option(value="2") Python
				option(value="3") Nodejs
				option(value="4") ccs
		section.producto
		section.carrito
			table
				th Producto
				th Cantidad
				th Precio
				th Subtotal
				th Quitar
	footer
		div.social
			p.face
			p.tw
			p.yt
			p.google
		div.derechos
			h2 Derechos reservados &copy
			h3 Creado por: JC


	